<div>
  <a class="button" href="/images">Find</a>
  <a class="button" href="/images/new">Upload</a>
  <a class="button" href="/users/new">Sign Up</a>
  <span style="float:right;">
    <% if logged_in? %>
      <a class="button" href="/users/logout">Log Out</a>
    <% else %>
      <form class="login" onsubmit="login(); return false">
        <input type="text" name="user_name" placeholder="User Name">
        <input type="password" name="password" placeholder="email">
        <input type="submit" value="Log In">
      </form>
    </span>
    <% end %>
  <span class="loginerrors"></span>
</div>
